body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;}
.nav {
    background-color: white;
    color: #333;
    margin: 0;
    list-style: none;
    text-align: left;
}
.nav > li {
    display: block;
    overflow: auto;
}
.nav > li > a {
    text-decoration: none;
    font-size: 14px;
    color: #333;
    /* black */
}
@media screen and (max-width: 400px) {
    body {
        background-color: white;
    }
    #map {
        max-width: 350px;
        height: 200px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
    body {
        background-color: white;
    }
    #map {
        max-width: 600px;
        height: 300px;
        margin-left: 0px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 769px) {
    body {
        background-color: white;
    }
    #map {
        width: 769px;
        height: 400px;
        margin-left: 0px;
        margin-bottom: 30px;
    }
}